<nav class="navbar">
    <div class="navbar-content">
        <button class="btn btn-action" onclick="halfmoon.toggleSidebar()">
            &#8596;
        </button>
        <span class="navbar-brand">
            <%= applicationName %>
        </span>
    </div>
</nav>